<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ page.title }}</title>
    <meta name="author" content="{{ site.author.name }}">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:300' rel='stylesheet' type='text/css'>
    <link href='{{ ASSET_PATH }}/css/style.css' rel="stylesheet" media="all">
    <link href='/assets/buttons/zocial.css' rel="stylesheet" media="all" type="text/css">
    <link href="http://feeds.feedburner.com/{{ site.author.feedbaname }}" rel="alternate" title="{{ page.title }}" type="application/atom+xml">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
<body>

    <div id="page" class="hentry">
        <header class="the-header">
            <div class="unit-head">
                <div class="unit-inner unit-head-inner">
                    <nav class="nav-global">
                        <ul>
                            <li class="logo"><a href="/">{{ site.title }}</a></li>
                            <li class="about"><a href="/about.html">About Me</a></li>
                            <li class="resume"><a href="/static/resume.pdf">Resume</a></li>
                            <li class="project"><a href="/project.html">Projects</a></li>
                            <li class="archive"><a href="/archive.html">Blog</a></li>
                            <li class="course"><a href="/coursework.html">Courses</a></li>
                        </ul>
                    </nav>
                </div><!-- unit-inner -->
            </div><!-- unit-head -->
        </header><!-- end-header -->

        <div class="body" role="main">
            <div class="unit-body">
                <div class="unit-inner unit-body-inner">
                    <div class="entry-content">
                        {{ content }}
                    </div>
                </div><!-- unit-inner -->
            </div><!-- unit-body -->
        </div><!-- body -->

        <footer class="the-footer">
            <div class="unit-foot">
                <div class="unit-inner unit-foot-inner">
                    <div class="misc vcard">
                        <h4>get in touch</h4>
                        <a href="mailto:khoatran@berkeley.edu" class="zocial icon email" rel="me"></a> &nbsp; &nbsp;   
                        <a href="http://github.com/{{ site.author.github }}/" rel="me" class="zocial icon github"></a><br><br>
                        <a href="http://www.linkedin.com/profile/view?id=173067093" rel="me" class="zocial icon linkedin"></a> &nbsp; &nbsp;   
                        <a href="https://www.facebook.com/khoa.tran.397" rel="me" class="zocial icon facebook"></a><br><br>
                    </div>
                    <p class="licence">
                        Powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a> and
                        <a href="http://jekyllbootstrap.com/">Jekyll Bootstrap</a><br>
                        with <a href="https://github.com/dhulihan/hooligan/tree/master/assets/themes/hooligan/css-social-buttons">Zocial Buttons</a><br> 
                        &copy; 2013 Khoa Tran
                    </p>
                </div><!-- unit-foot-inner -->
            </div><!-- unit-foot -->
        </footer><!-- end footer -->
    </div><!-- page -->

    <script>
    (function(d, s) {
        var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.src = url; js.id = id;
            fjs.parentNode.insertBefore(js, fjs);
        };
        load('//platform.twitter.com/widgets.js', 'tweetjs');
        // load('https://apis.google.com/js/plusone.js', 'gplus1js'); // Checkout http://j.mp/ApDgMr for usage html for this is <div class="g-plusone" data-size="medium"></div>
        // load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk'); // Checkout http://j.mp/wZw2xR for using open graph protorol html for this is <div class="fb-like" data-href="{{ page.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
    }
    (document, 'script'));
    
    </script>

    <script>
    /*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
    (function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
    </script>

    {% include JB/analytics %}
    
</body>
</html>
