---
layout: page
title: Snake
header: Play Snake!
---
{% include JB/setup %}

    <canvas id="myDrawing" width="500" height="378">
    <p> If this is not working, please try the latest versions of chrome or firefox to view this. </p>
    </canvas>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js"></script>
    <script type="text/javascript" src="/games/snake.js"></script>
